<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="info">
        <div class="card" style="width: 18rem;">
            <img src="assets\img\celulares\cardF.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Venda aqui aquele seu smartphone usado</h5>
                <p class="card-text">Nosso site serve para ajudar pessoas na venda de smartphones usado e para ajudar
                    pessoas  com um preço mais acessivel</p><br>
                <a routerLink="/listar" class="btn btn-primary">Ver celulares disponiveis</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets\img\celulares\entrega.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Garantia de entrega rapida e segura </h5>
                <p class="card-text">Realizamos entregas para o Brasil inteiro com garantia de que caso não seja entrege
                    devolvemos seu dinheiro</p>
                <a routerLink="/listar" class="btn btn-primary">Ver celulares disponiveis</a>
            </div>
        </div>

    </div>

</body>

</html>